<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<meta charset="UTF-8">
<title>ランダム文字列ジェネレータ</title>
</head>
<body>
<h1>ランダム文字列ジェネレータ</h1>

<form action="/random" method="post">
	<select name="CharLength">
		<option th:each="i : ${#numbers.sequence(5, 10)}"
		th:value="${i}" th:text="|${i}文字|"></option>
	</select>
	
	<input type="checkbox" name="withNumber" value="true">数字を含める
	
	<input type="submit" value="作成する">
</form>

<hr>

<th:block th:each="moji : ${list}">
	[[${moji}]]<br>
</th:block>

</body>
</html>